.App {
  text-align: center;
}

body {
  background-color: #008B8B;
}

h1 {
  color: aqua;
}

.mp3, .mp4 {
  position: relative;
  background: none;
  width: 100px;
  height: 40px;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
}

.mp3:hover, .mp4:hover, .input-url button:hover {
  background-color: aqua;
  color: white;
}

.clicked-mp3, .clicked-mp4 {
  position: relative;
  background-color: aqua;
  width: 100px;
  height: 40px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
}

.input-url {
  padding-top: 20px;
}

.input-url input {
  border: 0.2em solid aqua;
  border-radius: 5px;
  width: 35%;
  height: 30px;
  background-color: #008B8B;
}

.convert-button {
  padding-top: 20px;
}

.input-url button {
  display: block;
  background: none;
  width: 100px;
  height: 40px;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
  margin: auto;
}
